.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 240px;
  text-align: center;
  cursor: pointer;
  transition: 240ms;
  border-width: 1px;
  border-radius: 4px;
  padding: 16px;
  margin-top: 40px;
}

.card:hover {
    color: #00E677;
    border-color: #00E677;
}